<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <div class="row">
    <%for(listing of listings){%>
    <a
      class="listing-link col-lg-3 col-md-4 col-sm-6 col-12"
      href="/listings/<%=listing.id%>"
    >
      <div class="card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="#"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h6 class="card-title"><%=listing.title%></h6>
          <p class="card-text">
            &#x20B9; <%=listing.price.toLocaleString('en-IN')%>/night
          </p>
        </div>
      </div></a
    >
    <%}%>
  </div>
</body>
